
GeminiChat/GeminiChat.xcodeproj/project.xcworkspace/contents.xcworkspacedata
GeminiChat/GeminiChat.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
GeminiChat/GeminiChat.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/IDEFindNavigatorScopes.plist
GeminiChat/GeminiChat.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
GeminiChat/GeminiChat.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
